{% extends 'layout.html' %}
{% block title %}Editar Tipo de Treino{% endblock %}
{% block content %}
<header>
    <h1><i class="fa-solid fa-pencil"></i> Editando Treino: {{ treino.nome }}</h1>
    <p><a href="{{ url_for('gerenciar_tipos_treino') }}" class="btn"><i class="fa-solid fa-arrow-left nav-link-icon"></i>Cancelar e Voltar</a></p>
</header>
<hr>
<div class="card">
    <section>
        <form action="{{ url_for('update_tipo_treino', id=treino.id) }}" method="post">
            <p>
                <label for="nome">Nome (ex: Treino A):</label><br>
                <input type="text" name="nome" value="{{ treino.nome }}" required>
            </p>
            <p>
                <label for="descricao">Descrição (ex: Peito, Ombro e Tríceps):</label><br>
                <input type="text" name="descricao" value="{{ treino.descricao or '' }}">
            </p>
            <button type="submit" class="btn">Salvar Alterações</button>
        </form>
    </section>
</div>
{% endblock %}