{% extends 'layout.html' %}
{% block title %}Gestão de Tarefas{% endblock %}
{% block content %}
    <header>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1><i class="fa-solid fa-list-check"></i> Gestão de Tarefas</h1>
            <a href="{{ url_for('index') }}" class="btn"><i class="fa-solid fa-arrow-left nav-link-icon"></i>Voltar ao Dashboard</a>
        </div>
        <div style="margin-top: 10px;">
            <a href="{{ url_for('gerenciar_categorias') }}" class="btn btn-secondary btn-sm">Gerenciar Categorias</a>
            <a href="{{ url_for('pagina_historico') }}" class="btn btn-secondary btn-sm">Ver Histórico de Tarefas</a>
        </div>
    </header>
    <hr>
    <div class="card">
        <section id="nova-tarefa-form">
            <h2>Adicionar Nova Tarefa</h2>
            <form action="{{ url_for('add_task') }}" method="post">
                <p><label for="titulo">Título da Tarefa:</label><br><input type="text" id="titulo" name="titulo" required></p>
                <p><label for="categoria">Categoria:</label><br><select name="categoria_id" id="categoria" required><option value="">Selecione uma categoria</option>{% for categoria in categorias %}<option value="{{ categoria['id'] }}">{{ categoria['nome'] }}</option>{% endfor %}</select></p>
                <p><label for="data_vencimento">Data de Conclusão:</label><br><input type="date" id="data_vencimento" name="data_vencimento"></p>
                <p><label for="recorrencia">Recorrência:</label><br><select name="recorrencia" id="recorrencia"><option value="Única" selected>Única</option><option value="Diária">Diária</option><option value="Semanal">Semanal</option><option value="Mensal">Mensal</option><option value="Semestral">Semestral</option><option value="Anual">Anual</option></select></p>
                <p><label for="descricao">Observações:</label><br><textarea name="descricao" id="descricao" rows="4"></textarea></p>
                <button type="submit" class="btn">Salvar Tarefa</button>
            </form>
        </section>
    </div>
{% endblock %}